{% extends 'stuff/base_stuff.html' %}

{% block title %}
Stuff forms
{% endblock %}

{% block content %}
<h1>Составление договора</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.applicationCode }}<br>
        {{ form.employee}}<br>
        {{ form.buyer}}<br>
        {{ form.dateOfOperation}}<br>
        {{ form.profit}}<br>
        <button type="submit" class="btn btn-success mt-5">Добавить</button>
        {% if error %}
            <div class="btn-danger mt-5 text-center w-50">
                {{ error }}<br>
                Возможно вы пытальсь добавить у же проданную недвижимость?
            </div>
        {% endif %}

    </form>
{% endblock %}
