{% extends 'main/base.html' %}

{% block title %}
Property
{% endblock %}

{% block content %}
    <h2>Недвижимость на продажу</h2>
    <table class="table table-bordered table-dark mt-3">
        <tr class="bg-warning text-dark">
            <th>Дата составления заказа</th>
            <th>Наименование объекта</th>
            <th>Площадь м2</th>
            <th>Кол-во комнат</th>
            <th>Адрес</th>
            <th>Цена</th>
            <th>Состояние продажи</th>
        </tr>
        {% for el in property %}
        <tr>
            <td>{{ el.dateOfOrder }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.area }}</td>
            <td>{{ el.rooms }}</td>
            <td>{{ el.address }}</td>
            <td>{{ el.price }}</td>
            <td>{{ el.ifSelled }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}