{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    <h1>Добавить покупателя\продавца\недвижимость</h1>
    <div class="container" id="test">
        <b-tabs content-class="mt-3">
            <b-tab title="Добавить покупателя" active>
                <form method="post">
                    {% csrf_token %}
                    {{ form1.FIO }}<br>
                    {{ form1.address}}<br>
                    {{ form1.tel}}<br>
                    {{ form1.passportCode}}
                    <span class="help-block ml-3 text-muted">2 буквы и 7 цифр</span>
                    {{ form1.passportNumber}}
                    <span class="help-block ml-3 text-muted">14 символов</span>
                    <br>
                    <button type="submit" class="btn btn-success mt-5">Добавить</button>
                <span>{{ error }}</span>
                </form>
            </b-tab>
            <b-tab title="Добавить продавца">
                <form method="post">
                    {% csrf_token %}
                    {{ form2.FIO }}<br>
                    {{ form2.address}}<br>
                    {{ form2.tel}}<br>
                    {{ form2.passportCode}}
                    <span class="help-block ml-3 text-muted">   2 буквы и 7 цифр</span>
                    {{ form2.passportNumber}}
                    <span class="help-block ml-3 text-muted">   14 символов</span>
                    <br>
                    <button type="submit" class="btn btn-success mt-5">Добавить</button>
                <span>{{ error }}</span>
                </form>
            </b-tab>
            <b-tab title="Добавить недвижимость">
                <form method="post">
                    {% csrf_token %}
                    {{ form3.dateOfOrder }}<br>
                    {{ form3.name}}<br>
                    {{ form3.area}}<br>
                    {{ form3.rooms}}<br>
                    {{ form3.address}}<br>
                    {{ form3.price}}<br>
                    {{ form3.seller}}<br>
                    <button type="submit" class="btn btn-success mt-5">Добавить</button>
                <span>{{ error }}</span>
                </form>
            </b-tab>
        </b-tabs>
    </div>

{% endblock %}
{% block script %}
    <script src="/static/test.js"></script>
{% endblock %}