{% extends 'main/base.html' %}

{% block title %}
Requests
{% endblock %}

{% block content %}
    <h1>Поиск квартиру по адресу</h1>
    <form action="" method="POST">
    {% csrf_token %}
    {{ form1.as_p }}
    {{ form2.as_p }}
    <input type="Submit" name="submit" value="Поиск"/>
    </form>

    {% if submitbutton == "Поиск" %}
    <h2>Квартиры по адресу содержащему{{ address }}:</h2>
        <table class="table table-bordered table-dark">
        <tr>
            <td>Дата составления заказа</td>
            <td>Наименование объекта</td>
            <td>Площадь м2</td>
            <td>Кол-во комнат</td>
            <td>Адрес</td>
            <td>Цена</td>
            <td>Состояние продажи</td>
        </tr>
        {% for el in property %}
        <tr>
            <td>{{ el.dateOfOrder }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.area }}</td>
            <td>{{ el.rooms }}</td>
            <td>{{ el.address }}</td>
            <td>{{ el.price }}</td>
            <td>{{ el.ifSelled }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}
{% block script %}

{% endblock %}