{% extends 'main/base.html' %}

{% block title %}
Requests
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
    <div class="card text-white bg-primary mb-3 w-70">
        <div class="card-header d-flex justify-content-center"><h3>Поиск квартир</h3></div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row d-flex justify-content-end">
                    <div class="col-md-auto ">
                        {{ form1.as_p }}
                    </div>
                    <div class="col-md-auto">
                        {{ form2.as_p }}
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-md-auto">
                        {{ form3.as_p }}
                    </div>
                    <div class="col-md-auto">
                        {{ form4.as_p }}
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input type="Submit" name="submit" value="Поиск" class="btn btn-light btn-md"/>
                </div>
            </form>
        </div>
    </div>
    </div>
    {% if submitbutton == "Поиск" %}
        <table class="table table-bordered table-dark">
        <tr class="bg-warning text-dark">
            <th>Дата составления заказа</th>
            <th>Наименование объекта</th>
            <th>Площадь м2</th>
            <th>Кол-во комнат</th>
            <th>Адрес</th>
            <th>Цена</th>
        </tr>
        {% for el in property %}
        <tr>
            <td>{{ el.dateOfOrder }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.area }}</td>
            <td>{{ el.rooms }}</td>
            <td>{{ el.address }}</td>
            <td>{{ el.price }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}
{% block script %}

{% endblock %}