{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    <h1>SQL</h1>
    <table border="1">
        <tr>
            <td>code</td>
            <td>FIO</td>
            <td>post</td>
            <td>date</td>
            <td>address</td>
            <td>telefone</td>
        </tr>
        {% for datadisplay in Employees %}
        <tr>
            <td>{{ datadisplay.code }}</td>
            <td>{{ datadisplay.FIO }}</td>
            <td>{{ datadisplay.post }}</td>
            <td>{{ datadisplay.dateOfEmployment }}</td>
            <td>{{ datadisplay.address }}</td>
            <td>{{ datadisplay.tel }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}