{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    <h1>Tables</h1>
    <h2>Employees</h2>
    <table class="table table-bordered table-dark">
        <tr>
            <td>ФИО</td>
            <td>Должность</td>
            <td>Телефон</td>
        </tr>
        {% for el in employees %}
        <tr>
            <td>{{ el.FIO }}</td>
            <td>{{ el.post }}</td>
            <td>{{ el.tel }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Selled poroperties</h2>
    <table class="table table-bordered table-dark">
        <tr>
            <td>Дата составления заказа</td>
            <td>Наименование объекта</td>
            <td>Площадь м2</td>
            <td>Кол-во комнат</td>
            <td>Улица</td>
            <td>Цена</td>
        </tr>
        {% for el in property %}
        <tr>
            <td>{{ el.dateOfOrder }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.area }}</td>
            <td>{{ el.rooms }}</td>
            <td>{{ el.street }}</td>
            <td>{{ el.price }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}