{% extends 'main/base.html' %}

{% block title %}
Main page
{% endblock %}

{% block content %}
    <h1>Недвижимость</h1>
    <h2>Недвижимость на продажу</h2>
    <table class="table table-bordered table-dark">
        <tr>
            <td>Дата составления заказа</td>
            <td>Наименование объекта</td>
            <td>Площадь м2</td>
            <td>Кол-во комнат</td>
            <td>Адрес</td>
            <td>Цена</td>
            <td>Состояние продажи</td>
        </tr>
        {% for el in property %}
        <tr>
            <td>{{ el.dateOfOrder }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.area }}</td>
            <td>{{ el.rooms }}</td>
            <td>{{ el.address }}</td>
            <td>{{ el.price }}</td>
            <td>{{ el.ifSelled }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}