{% extends 'main/base.html' %}

{% block title %}
test
{% endblock %}


{% block content %}

    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="Submit" name="submit" value="Submit"/>
    </form>

    {% if submitbutton == "Submit" %}
    <h1>Your address is {{ address }}</h1>
        <table class="table table-bordered table-dark">
        <tr>
            <td>Дата составления заказа</td>
            <td>Наименование объекта</td>
            <td>Площадь м2</td>
            <td>Кол-во комнат</td>
            <td>Адрес</td>
            <td>Цена</td>
            <td>Состояние продажи</td>
        </tr>
        {% for el in property %}
        <tr>
            <td>{{ el.dateOfOrder }}</td>
            <td>{{ el.name }}</td>
            <td>{{ el.area }}</td>
            <td>{{ el.rooms }}</td>
            <td>{{ el.address }}</td>
            <td>{{ el.price }}</td>
            <td>{{ el.ifSelled }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}



{% endblock %}

{% block script %}

{% endblock %}